*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------------------------
                导航栏
------------------------------------------*/
.nav{
    color: #ffffff;
    padding: 10px 24px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 56px;
    display: flex;
}

.nav-link-ul{
    display: flex;
    list-style:none;
}

.nav-user-ul{
    display: flex;
    list-style:none;
}

.header-shadow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(76,85,114,.87),rgba(135,139,184,0));
}

/*------------------------------------------
                主页背景
------------------------------------------*/
.home-bg{
    background-image: url(bgimage.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    height: 4000px;
    width: 1400px;
}
