*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------------------------
                导航栏
------------------------------------------*/
.header{
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav{
    font-size: 18px;
    color: #ffffff;
    padding: 10px 16px;
    z-index: 1;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.link,.user{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    white-space:nowrap;
    height: 0px;
}
/*-----------------link-------------------*/
.nav-link-ul{
    
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    list-style: none;
}

.nav-link-item{
    margin-left: 24px;
}

/*-----------------user-------------------*/
.nav-user-ul{
    display: flex;
    list-style: none;
}

.nav-user-item{
    margin-right: 24px;
    
}

/*----------------shadow------------------*/
.header-shadow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,0));
}

/*------------------------------------------
                主页背景
------------------------------------------*/
.home-bg{
    background-image: url(bgimage.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 969px;
}
